body {
	background-color: lightyellow;
}
h1 {
	text-align: center;
	background-color: lightpink;
	font-weight: bold;
}
#para {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
p {
	font-size: 20px;
	margin-top: 0px;
	text-align: center;
	background-color: coral;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 10px;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	padding: 10px;
}