.mainBody {
	color: steelblue;
}

.menuItem {
	color: tomato;
	position: absolute;
	left: 50%;
	top: 50%;
}

.vertical-menu {
	width: 140%;
  }
  
  .vertical-menu a {
	background-color: #eee;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
	outline: dotted;
	text-align: center;
  }
  
  .vertical-menu a:hover {
	background-color:lightsalmon;
  }
  
  .vertical-menu a.active {
	background-color:tomato;
	color: white;
  }

  .container {
	font-family: arial;
	font-size: 24px;
	margin: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .child {
	background-color: red;
  }