#mm1 {
	background-color: purple;
	width: 250px;
	height: 150px;
}
#mm2 {
	background-color: maroon;
	width: 300px;
	height: 250px;
}
@media (min-width: 1200px) {
	#mm1 {
		width: 75%;
	}
	#mm2 {
		width: 240px;
		height: 240px;
	}
}
@media (min-width: 900px) and (max-width: 1199px) {
	#mm1 {
		width: 80%;
	}
	#mm2 {
		width: 100px;
		height: 100px;
	}
}
* {
	box-sizing: border-box;
	overflow: auto;
} 
#del1 {
	clear: left;
}
.idk1 {
	float: left;
	margin-left: 15px;
}
#p1 {
	background-color: blue;
	width: 50px;
	height: 50px;
}
#p2 {
	background-color: hotpink;
	width: 50px;
	height: 50px;
}
#p3 {
	background-color: goldenrod;
	width: 50px;
	height: 50px;
	clear: left;
}
#p4 {
	background-color: forestgreen;
	width: 50px;
	height: 50px;
}
.lz1 {
	background-color: magenta;
	padding: 10px;
	border: 10px solid skyblue;
	margin: 10px 0px 10px 680px;
	width: 200px;
	height: 150px;
}
.lz2 {
	background-color: skyblue;
}
#ps1 {
	background-color: yellow;
	padding: 10px 10px 10px 10px;
	border: 10px solid purple;
	margin: 10px 620px 20px 680px;
	width:  197px;
	position: relative;
}
#ps2 {
	background-color: cyan;
}
h1 {
	color: skyblue;
	text-align: center;
	font-size: 40px;
}
body {
	font-family: sans-serif;
	margin: 0px;
	padding: 0;
}
p {
	color: darkgreen;
	font-size: 20px;
	text-align: center;
}
section {
	color: purple;
	text-align: center;
	font-style: italic;
	font-size: 25px;
	font-weight: bold;
}
.p1 {
	color: orange;
	font-size: 20px;
	font-weight: bold;
	font-style: oblique;
	text-align: left;
}
#temp1 {
	color: hotpink;
	font-size: 22px;
	font-weight: lighter;
	font-style: italic;
	background-color: black;
	opacity: 0.9;
}
#temp2 {
	font-size: 28px;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	color: gold;
	background-color: magenta;
	opacity: 0.6;
}
.p2 {
	font-size: 28px;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	color: gold;
	background-color: magenta;
	opacity: 0.6;
}
section li {
	list-style: none;
}
h1 li {
	list-style: none;
}
a:link, a:visited {
	text-decoration: none;
	background-color: magenta;
	border: 1px solid blue;
	color: blue;
	display: block;
	width: 200px;
	text-align: center;
	margin-bottom: 2px;
	border: 5px solid goldenrod;
}
a:hover, a:active {
	background-color: yellow;
	color: red;
	font-style: normal;
}
section article:nth-child(even) {
	background-color: pink;
	font-style: normal;
	color: darkorange;
	font-weight: lighter;
} 
section article:hover {
	background-color: ghostwhite;
	color: black;
	cursor: pointer;
}
section article:nth-child(6):hover {
	background-color: fuchsia;
	color: gold;
}