body {
	font-size: 17px;
	font-family: 'Play', sans-serif;
	background-color: lightblue;
}

.writtenSocial {
	text-decoration: none;
	color: white;
}

.socialIcon {
	width: 50px;
	height: 50px;
}

#emailTag span a {
	text-decoration: none;
	color: white;
}

#emailTag span a:hover {
	color: firebrick;
}

#emailTag {
	color: white;
}

#socialsTag {
	color: white;
	font-size: 1.8vw;
}

.vl {
	border-left: 3px solid white;
	height: 30px;
}

.row #emailTag {
	color: white;
	text-align: center;
	font-size: 1.8vw;
}

#emailTag {
	text-align: center;
}

#writtenBody {
	padding: 20px;
}

.container {
	margin-left: 5px;
}

#header-nav {
	background-color: lightcoral;
	border-radius: 0;
	border: 0;
}

#footer-nav {
	background-color: #292327;
}

#footer-nav span {
	color: white;
}

/* Header logo image */
#logo-img {
	background: url(images/skyden1a.jpg) no-repeat;
	width: 180px;
	height: 130px;
	margin: 5px 15px 10px 0px;
	background-size: cover;
}

.navbar-brand {
	padding-top: 20px;
}

/* Sky's Den heading besides logo */
.navbar-brand h1 {
	font-family: 'Squada One', cursive;
	color: black;
	font-size: 1.55em; /* 1.55em */
	font-weight: bold;
	text-shadow: 3px 2px 3px powderblue;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.3;
}

/* Descriptive text below heading */
.navbar-brand p {
	font-size: 0.9em;
	margin-top: 0px;
}

.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:link {
	text-decoration: none;
}

.nav-item a:hover, .nav-item a:focus, .nav-item a:link {
	text-decoration: none;
	color: black;
}

#navbarDropdown, #a1, #a2 {
	color: black;
	text-align: center;
}

#navbarDropdown:hover, #a1:hover, #a2:hover {
	color: white;
	background-color: black;
	border: 1px solid white;
}

.dropdown-menu {
	text-align: center;
}

.navbar-toggler {
	color: lightcoral;
	background-color: lightblue;
	position: absolute;
	top: 40px;
	right: 40px;
}

.navbar-toggler:hover {
	color: whitesmoke;
	background-color: black;
	border: 1px solid white;
}

#searchbtn {
	color: black;
	border: 1px solid black;
}

#searchbtn:hover {
	color: white;
	background-color: black;
	border: 1px solid white;
}

.slideControlButtons {
	font-size: 3.5vw;
}

#imageSlideShow {
	padding: 25px 10px 25px 10px;
	width: 98.8vw;
}

.allSlideImages {
	height: 100%;
	object-fit: fill;
	border: 4px solid lightcoral;
}

.slideImageContainer {
	width: 100%;
	height: 100%;
}

.slideImageCaptions {
	color: limegreen;
	position: absolute;
	bottom: -5px;
	font-weight: bold;
}

/* Extra Large devices */
@media (min-width: 1200px) {
	#bgImg1 {
	height: 675px;
	}

	#bgImg2 {
	height: 675px;
	}

	#bgImg3 {
	height: 675px;
	}

	.slideImageCaptions {
	font-size: 1.7em;
}
}

/* Large devices */
@media (min-width: 992px) and (max-width: 1199px) {
	#bgImg1 {
	height: 558px;
	}

	#bgImg2 {
	height: 558px;
	}

	#bgImg3 {
	height: 558px;
	}

	.slideImageCaptions {
	font-size: 1.5em;
}
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
	#bgImg1 {
	height: 432px;
	}

	#bgImg2 {
	height: 432px;
	}

	#bgImg3 {
	height: 432px;
	}

	.slideImageCaptions {
	font-size: 1.3em;
}
}

/* Small devices */
@media (min-width: 576px) and (max-width: 767px) {
	#bgImg1 {
	height: 324px;
	}

	#bgImg2 {
	height: 324px;
	}

	#bgImg3 {
	height: 324px;
	}
	.navbar-brand h1 {
		font-size: 6.5vw;
	}

	.navbar-brand p {
		font-size: 3.4vw;
	}

	#logo-img {
		height: 150px;
	}

	.slideImageCaptions {
	font-size: 1.1em;
}
}

/* Extra small devices */
@media (max-width: 575px) {
	#bgImg1 {
	height: 324px;
	}

	#bgImg2 {
	height: 324px;
	}

	#bgImg3 {
	height: 324px;
	}
		.navbar-brand h1 {
		font-size: 6.5vw;
	}

	.navbar-brand p {
		font-size: 3.4vw;
	}

	#logo-img {
		height: 150px;
	}

	.slideImageCaptions {
	font-size: 0.8em;
}
}